/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  padding: 30px 0;
  border-bottom: dashed #c0c0c0 2px;
}
nav .second-layer {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .second-layer a {
  color: #333;
  text-decoration: none;
}
nav .second-layer .nav-logo-text h2 {
  padding: 0;
}
nav .second-layer .nav-links ul {
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  nav .second-layer .nav-links ul {
    padding-top: 20px;
    justify-content: space-between;
  }
}
nav .second-layer .nav-links ul li {
  padding: 0 20px;
}
@media (max-width: 500px) {
  nav .second-layer {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  nav {
    padding: 15px 0;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
header {
  border-bottom: dashed #C0C0C0 2px;
}
header .second-layer {
  width: 800px;
  margin: 0 auto;
}
header .second-layer h2 {
  padding-top: 20px;
}
header .second-layer p {
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  header .second-layer {
    width: 90%;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
    margin: 0 auto;
    padding-right: 0;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-section .img-content img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .content-section {
    width: 90%;
    margin: 30px auto;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 500px) {
  .home .inverse-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
  }
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-destination {
    margin: 20px auto 30px;
    width: 90%;
  }
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 80%;
  }
}
.home .content-pick .btn {
  background-color: #17A2B8;
  color: white;
  font-size: 2rem;
  width: 80%;
  padding: 15px 30px;
  text-align: center;
  border: none;
  border-radius: 15px;
  transition: 0.25s ease-in;
}
.home .content-pick .btn:hover {
  cursor: pointer;
  background-color: #1fc8e3;
  transform: scale(1.05);
}
@media (max-width: 500px) {
  .home .content-pick .btn {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .content-pick {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
section.content-form {
  border-top: dashed 2px #C0C0C0;
  padding-top: 20px;
}
section.content-form .freestyle form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section.content-form .freestyle form input {
  width: 48%;
  font-size: 1.8rem;
  line-height: 2;
  padding-left: 5px;
  margin-bottom: 20px;
  border: #C0C0C0 1px solid;
  border-radius: 3px;
}
section.content-form .freestyle form input::-webkit-outer-spin-button,
section.content-form .freestyle form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
section.content-form .freestyle form input[type=number] {
  -moz-appearance: textfield;
}
section.content-form .freestyle form input[type="email"],
section.content-form .freestyle form input[type="number"] {
  background-color: #d4f5fa;
}
section.content-form .freestyle form input[type="submit"] {
  background-color: #17A2B8;
  color: white;
  font-size: 2rem;
  width: 80%;
  padding: 15px 30px;
  text-align: center;
  border: none;
  border-radius: 15px;
  transition: 0.25s ease-in;
  margin: 0 auto 20px;
  padding: 5px 0;
}
section.content-form .freestyle form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #1fc8e3;
  transform: scale(1.05);
}
@media (max-width: 500px) {
  section.content-form .freestyle form input[type="submit"] {
    width: 100%;
  }
}
@media (max-width: 500px) {
  section.content-form .freestyle form input[type="submit"] {
    width: 90%;
  }
}
@media (max-width: 500px) {
  section.content-form .freestyle form input {
    width: 90%;
    margin: 0 auto 15px;
  }
}
section.content-form .freestyle form textarea {
  width: 90%;
  margin: 0 auto 20px;
  padding-left: 5px;
  font-size: 1.8rem;
  line-height: 2;
  border: #C0C0C0 1px solid;
  border-radius: 3px;
}
@media (max-width: 500px) {
  section.content-form .freestyle h4 {
    width: 90%;
    margin: 10px auto;
  }
}
